<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <title th:text="#{email.reset.title}"> MovieDb password reset</title>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />-->
</head>
<body>
<p th:text="${user.firstName}">
    Dear
</p>
<p>
    For your MovieDb account a password reset was requested, please click on the URL below to reset it:
</p>
<p>
    <!--/*@thymesVar id="url" type="url"*/-->
    <a th:with="url=(@{|${baseUrl}?key=${user.resetKey}|})" th:href="${url}"
       th:text="${url}">Login link</a>
</p>
<p>
    <span>Regards, </span>
    <br/>
    <em>Indir Karic.</em>

</body>
</html>
